= form_for @bankroll do |f|
  - if @bankroll.errors.any?
    #error_explanation
      %h2= "#{pluralize(@bankroll.errors.count, "error")} prohibited this bankroll from being saved:"
      %ul
        - @bankroll.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :purchase
    = f.text_field :purchase
  .field
    = f.label :brief
    = f.text_area :brief
  .field
    = f.label :date_purchased
    = f.datetime_select :date_purchased
  .field
    = f.label :amount
    = f.text_field :amount
  .field
    = f.label :rosemary
    = f.check_box :rosemary
  .field
    = f.label :jordon
    = f.check_box :jordon
  .actions
    = f.submit 'Save'
