%p#notice= notice

%p
  %b Name:
  = @example.name
%p
  %b Brief:
  = @example.brief
%p
  %b Show:
  = @example.show
%p
  %b Date:
  = @example.date

= link_to 'Edit', edit_example_path(@example)
\|
= link_to 'Back', examples_path
